@model DesignPlatform.ViewModels.CustomerHomeViewModels.CustomerHomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Section 1 -->
<div class="section-1">

  <div class="row g-0">
    <div class="col-lg-7 ">
        <div class="img">
            <img src="~/assets/imgs/img1.jpg">
        </div>
    </div>

    <div class="col-lg-5 d-flex align-items-center ">
      <div class="text pt-5 pb-5 pt-lg-0 pb-lg-0 ">
        <h2 class="text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora libero commodi deserunt explicabo </p>
        <a class="btn section-btn">Sign Up Now For Under $300</a>
      </div>
    </div>
   

  </div>

</div>
<!-- End Section 1 -->

<!-- Start Section 2 -->
<!-- <div class="section-2">

  <div class="row g-0">

    <div class="col-lg-5">
      <div class="img">
        <img  src="imgs/img2.jpg">
      </div>
    </div>

    <div class="col-lg-7 d-flex align-items-center">
      <div class="text pt-5 pb-5 pt-lg-0 pb-lg-0">
        <h2 class="text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora libero commodi deserunt explicabo </p>
        <a class="btn section-btn">Sign Up Now For Under $300</a>
      </div>
    </div>
    

  </div>

</div> -->
<!-- End Section 2 -->
<!-- Start Section 3 -->
<div class="section-3">

  <div class="row g-0">

        <div class="col-lg-6 ">
            <div class="text pt-5 pb-5 pt-lg-0 pb-lg-0">
                <h2 class="text-uppercase">Lorem ipsum dolor sit amet consectetur </h2>
                <ul>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-regular fa-circle-check"></i>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    <div class="col-lg-6">
      <div class="img">
                <img src="~/assets/imgs/team-1.png">
      </div>
    </div>

   
    

  </div>

</div>
<!-- End Section 3 -->

<!-- Start Slider -->
<div class="slider"> 
  <h3>Before & After Website Name</h3>
  <div class="content">
   
<div class="swiper mySwiper">
  <div class="swiper-wrapper">

      @foreach(var item in Model.Projects)
        {
            <div class="swiper-slide">
                <div class="slide">
                    <img src="@item.ImageUrl">
                    <div class="text">
                        <h2>@item.Name</h2>
                                <a href="/Home/ProjectDetails/@item.Id">View Project</a>
                    </div>
                </div>
            </div>
        }

   

   

   
  </div>

   <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

</div>

  </div>

</div>
<!-- End Slider -->

<!-- Start Compare -->
<div class="compare p-5">
  <div class="container">
    <h2 class="text-center mb-3">Compare Your Self</h2>
  
    <table class="table ">
      <tr class="text-center">
        <th></th>
        <th >Our Website</th>
        <th>Local Desingers</th>
        <th>Online Compitators</th>
      </tr>
  
      <tr>
        <td>Shopping Cart List</td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
        <td>
  
        </td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
      </tr>
  
      <tr>
        <td>Shopping Cart List</td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
        <td>
        </td>
      </tr>
  
      <tr>
        <td>Shopping Cart List</td>
        <td>
        </td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
        <td class="text-center">
          <i class="fa-solid fa-check"></i>
        </td>
      </tr>
  
    </table>

    <a class="btn main-btn">Yes  Design My Yard</a>

  </div>
 

</div>
<!-- End Compare -->

<!-- Start Packages -->
<div class="packages p-5">
  <h2 class="text-center mb-3">Select Your 3d Design Package</h2>

  <div class="row">

      @foreach(var item in Model.Packages)
        {
            <div class="col-lg-4  mb-3">
                <div class="package">
                    <div class="text">
                        <h3>@item.Name</h3>
                        <div class="rate-wrabber">
                            <div class="rates me-2">

                               

                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < item.Rate)
                                    {
                                        <i class="fa-solid fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                }

                                
                            </div>
                            <span>@item.ReviewsCount Reviews</span>
                        </div>

                    </div>
                    <div class="img">
                        <img src="@item.Image">
                    </div>
                    <div class="footer">
                        <button class="btn main-btn view-details-btn">View Details</button>

                        <div class="list mt-3">
                            <ul>
                                @foreach (var feat in item.Features)
                                {
                                    <li>
                                        <p>
                                            <i class="fa-regular fa-circle-check"></i>
                                            @feat
                                        </p>
                                    </li>
                                }
                               
                            </ul>
                            <div class="pb-3 pt-3">
                                <a class="btn main-btn" href="/Home/Package/@item.Id">Select Package</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        }

   

   

    

  </div>


</div>
<!-- End Packages -->


<!-- Start Reviews -->
<div class="reviews pb-5">
  <h3 class="mt-5 mb-5">Customer Reviews</h3>

  <div class="container">
    
<div class="swiper ReviewsSwiper" style="height: 500px;">
  <div class="swiper-wrapper">

      @foreach(var item in Model.Reviews)
        {
            <div class="swiper-slide">
                <div class="slide">
                    <i class="fa-solid fa-quote-right"></i>
                    <div class="text">
                        <p>@item.Description</p>
                        <h5>@item.Name</h5>
                    </div>
                </div>
            </div>
        }

   

   

   
    

   
  </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

</div>

  </div>
  
</div>
<!-- End Reviews -->
